@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {
  --primary-color-1: #e4efe9;
  --primary-color-2: #93a5cf;
  --primary-font-1: #555;
  --primary-font-2: #313131;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--primary-color-2));
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .2);
  border-radius: 5px;
}

.active,
.simple-link a:hover {
  background: rgba(255, 255, 255, .5);
  transition: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  background: linear-gradient(var(--primary-color-1), var(--primary-color-2));
  padding: 5.5rem;
}

header {
  width: 35rem;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  backdrop-filter: blur(.4rem);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

header .user {
  padding-top: 2rem;
}

header .user img {
  margin: 1rem 0;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, .2);
}

header .user .name {
  font-size: 3rem;
  color: var(--primary-font-1);
  padding: .5rem 0;
}

header .user .post {
  font-size: 1.8rem;
  color: var(--primary-font-1);
}

header nav {
  padding: 1rem 3rem;
}

header nav ul li {
  margin: 1rem 0;
}

header nav ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--primary-font-2);
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  border-radius: 1rem;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, .5);
  transition: none;
}

.container {
  width: 86rem;
  height: 54.2rem;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  backdrop-filter: blur(.4rem);
  border-radius: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}

.home,
.about,
.project,
.contact {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.6rem;
  text-align: justify;
  cursor: default;
}

.home {
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .welcome {
  color: var(--primary-font-1);
  font-size: 2.8rem;
  margin: 1.6rem 0;
}

.home .hello-typing {
  color: var(--primary-font-2);
}

.home .text-typing {
  color: var(--primary-color-2);
  font-size: 4.5rem;
}


.home .share {
  transform: translateY(130%);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.home .share a {
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  padding: 1rem 2rem;
  margin: 1rem;
  color: var(--primary-font-1);
}

.home .share a:hover,
.cv-btn:hover {
  background: rgba(255, 255, 255, .5);
}

.page-title {
  font-size: 2.5rem;
  border-bottom: 1px solid var(--primary-color-2);
  border-width: .5rem;
  border-bottom-right-radius: 1rem;
  color: var(--primary-font-2);
}

.about-info {
  padding: 1.7rem 0;
}

.about-text {
  margin: .6rem 0 1.2rem 0;
  cursor: default;
}

.cv-btn {
  display: inline-block;
  text-transform: uppercase;
  padding: .8rem 2rem;
  color: #4b68ac;
  border-radius: 1rem;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.education-title {
  font-weight: 600;
  color: var(--primary-font-2);
}

.to-right {
  text-align: end;
  border-bottom-left-radius: 1.1rem;
  border-bottom-right-radius: 0;
}

.box-container {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: default;
}

.box {
  width: 30rem;
  padding: 0 1.7rem;
  border-left: .5rem solid rgba(255, 255, 255, .3);
}

.box .year {
  font-size: 2rem;
  color: var(--primary-font-1);
  position: relative;
  font-weight: normal;
}

.box .year::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: .3rem;
  left: -2.9rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, .9);
}

.box p {
  text-transform: none;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skill-box {
  display: flex;
  font-size: 5rem;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.skill-box:nth-child(1) {
  color: red;
}

.skill-box:nth-child(2) {
  color: blue;
}

.skill-box:nth-child(3) {
  color: rgba(255, 255, 8, 0.911);
}

.skill-box:nth-child(4) {
  color: rgb(99, 99, 243);
}

.skill-box:nth-child(5) {
  color: rgb(110, 148, 36);
}

.skill-box:nth-child(6) {
  color: rgb(110, 184, 194);
}

.skill-box:hover {
  background: rgba(255, 255, 255, .5);
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.experience-box {
  padding: 1rem;
  cursor: default;
}

.experience-box h3 {
  font-size: 1.6rem;
  padding: .8rem;
  background: rgba(255, 255, 255, .2);
}

.experience-box p {
  padding: 0 .8rem;
}

.subtitle {
  color: var(--primary-font-1);
}

.project-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  text-align: center;
}

.project-box img {
  width: 25rem;
  border-radius: .7rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.contact-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.user-detail {
  display: flex;
  gap: 1rem;
}

.user-detail input {
  padding: 1rem;
  width: 24.5rem;
}

.user-email input {
  text-transform: none;
}

.message {
  margin-top: 1rem;
  margin-bottom: .4rem;
}

.message textarea {
  height: 10rem;
  width: 50rem;
  resize: none;
  padding: 1rem;
  text-transform: none;
  overflow: scroll;
}

.btn-send {
  padding: 1rem 4rem;
  cursor: pointer;
}

.btn-send:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn-send:disabled {
  background: rgba(255, 255, 255, .2);
}

.terkirim {
  text-align: center;
  margin: 1rem auto 0;
  padding: 1rem;
  background: rgba(25, 255, 4, 0.2);
  border-radius: 1rem;
  width: 40rem;
}

.simple-link,
.user-simple {
  display: none;
}


@media(max-width: 1050px) {
  header {
    display: none;
  }

  .simple-link {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #e4efe9;
    display: flex;
    gap: .2rem;
    justify-content: flex-end;
    padding: .4rem;
    font-size: 2.5rem;
  }

  .simple-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    color: rgb(115, 115, 201);
  }

  .home,
  .about,
  .project,
  .contact {
    margin: 0 1rem;
  }

  .home .share {
    transform: translateY(70%);
  }
}

@media(max-width: 630px) {

  .simple-link {
    justify-content: center;
  }

  .wrapper {
    padding: 4rem 1rem;
  }

  .home .text-typing {
    font-size: 2.6rem;
  }

  .home .welcome {
    font-size: 2rem;
  }

  .terkirim {
    width: 100%;
  }

  .skill-box {
    font-size: 6.5rem;
  }

  .container {
    height: 90vh;
  }

  .contact-container {
    display: block;
  }

  .user-detail input,
  .message textarea {
    width: 100%;
  }

  .user-simple {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    flex-flow: column;
    margin: -5rem 0 3rem;
  }

  .user-simple img {
    margin: 1rem 0;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .2);
  }

  .user-simple .name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-font-1);
  }

}